@model EntityFrame.Models.DimProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DimProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductAlternateKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductAlternateKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeightUnitMeasureCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeightUnitMeasureCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeUnitMeasureCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeUnitMeasureCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpanishProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpanishProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrenchProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrenchProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StandardCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StandardCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishedGoodsFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishedGoodsFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SafetyStockLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SafetyStockLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReorderPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReorderPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysToManufacture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysToManufacture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DealerPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DealerPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Style)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Style)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargePhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LargePhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnglishDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrenchDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrenchDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChineseDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChineseDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArabicDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArabicDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HebrewDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HebrewDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThaiDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThaiDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GermanDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GermanDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JapaneseDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JapaneseDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TurkishDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurkishDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DimProductSubcategory.EnglishProductSubcategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DimProductSubcategory.EnglishProductSubcategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductKey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
